# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled SCI Objects
*.hep
*.sl
*.inf
*.voc
*.scr
*.err

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.out
*.app
**Activeskin.tlh
**Sciw.bsc
**Sciw.exe
**Sciw.exp
**Sciw.pdb
**Sciw.log

# All Release files
*Sciw.exe

# VScode Folder
.vscode

#vs2019
*.cod
*.sbr
*.idb
*.nativecodeanalysis.sarif
*.nativecodeanalysis.xml
*.Settings
*.ipch
*.vs
.vs
*.tlog
clientwork/Interp/out
**.ilk
**.idb
**.pdb
**CppClean.log
**.nativecodeanalysis.*
**diagsession

#Realm ignore
login.lst
realm.windows.cfg
clientwork/Interp/Debug/fatal.log
resources
vocabs
scripts
*.Settings
*.rtp

#CLion
*.idea
*cmake-build-*
*SCI
*.manifest
clientwork/Interp/Debug/Sciw.lib
clientwork/Interp/Release/Sciw.lib
